{% extends 'diary/base.html' %}
{% load my_tags %}

{% block content %}
<style>
    .row {
        display: flex; /* Используем Flexbox для размещения карточек */
        flex-wrap: wrap; /* Позволяем карточкам переноситься на следующую строку */
    }

    .custom-col {
        display: flex; /* Используем Flexbox внутри колонки */
        flex-direction: column; /* Устанавливаем вертикальное размещение элементов */
        justify-content: stretch; /* Позволяем карточкам занимать всю доступную высоту */
        padding: 1rem; /* Устанавливаем отступы между карточками */
    }

    .card {
        transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход */
        height: 100%; /* Устанавливаем фиксированную высоту карточки */
        width: 100%; /* Устанавливаем ширину на 100% */
        box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    }

    .card:hover {
        background-color: #343a40; /* Цвет фона при наведении (темный) */
        color: white; /* Цвет текста при наведении (белый) */
    }

    .card-link {
        text-decoration: none; /* Убираем подчеркивание текста */
        color: inherit; /* Убираем изменение цвета текста по умолчанию */
        height: 100%; /* Устанавливаем высоту на 100% */
    }

    .card-body {
        display: flex;
        flex-direction: column; /* Устанавливаем вертикальное размещение элементов */
        flex-grow: 1; /* Позволяем телу карточки занимать доступное пространство */
    }

    .icon-small {
        font-size: 0.75rem; /* Уменьшаем размер иконки */
    }
    .highlight {
        background-color: rgba(180, 210, 250, 0.5); /* Полупрозрачный синий цвет для подсветки поиска */
    }
</style>

<div class="container-fluid">
    <div class="row mb-4 text-center">
        {% for entry in entry_list %}
        {% if entry.owner == user or user.is_staff %}
        <div class="col-md-3 custom-col d-flex">
            <a href="{% url 'diary:entry_detail' entry.pk %}" class="card-link">
                <div class="card mb-2 rounded-5 shadow-sm" style="overflow: hidden;">
                    <div class="card-header py-3" style="border-radius: 0.5rem 0.5rem 0 0;">
                        <h6 class="my-0 fw-normal text-uppercase">{{ entry.title|highlight:query|safe }}</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title pricing-card-title"
                            style="font-size: 0.95rem; font-weight: normal;
                            text-align: left; margin: 0 0 1rem 0; text-indent: 1rem;">
                            {{ entry.text|highlight:query|slice:':201'|safe }} ...</h6>
                        <ul class="list-unstyled mt-2 mb-2" style="font-size: 0.9rem;">
                            <li>Author: {{ entry.owner }}</li>
                        </ul>
                        <div class="d-flex justify-content-between mt-3">
                            <span class="text-muted small">Added at {{ entry.created_at }}</span>
                            <span class="text-muted small">
                                Public:
                                {% if entry.is_public %}
                                    <i class="far fa-check-circle icon-small"></i>
                                {% else %}
                                    <i class="far fa-times-circle icon-small"></i>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% empty %}
        <p>No entries found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}