{% extends 'diary/base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 50vh; padding: 20px;">
    <div class="card w-25">
        <div class="card-body text-center mt-3">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete this entry "{{ object.title }}"?</p>
                <button type="submit" class="btn btn-danger rounded w-25 mt-2 mb-2 me-2">Delete</button>
                <a href="{% url 'diary:entry_list' %}" class="btn btn-outline-secondary rounded w-25 mt-2 mb-2 ms-2">Cancel</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}