{% extends 'diary/base.html' %}

{% block content %}
<div class="col-12">
    <div class="card col-4 offset-4">
        <div class="card-header rounded-top">
            <h5 class="card-title text-center">{{ title }}</h5>
        </div>
        <div class="card-body" style="padding: 20px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    {% if object %}
                    <button type="submit" class="btn btn-outline-secondary rounded">Save</button>
                    {% else %}
                    <button type="submit" class="btn btn-outline-secondary rounded">Create</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}