{% extends 'diary/base.html' %}
{% load my_tags %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 25vh; text-align: center;">
    <div class="text-center"
         style="font-size: 2rem; font-family: 'Lato', sans-serif; font-weight: 300;">
        {{ slogan }}
        <br>
        {{ intro_text }}
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-5 text-center">
        {% for entry in public_entries_list %}
        <div class="col">
            <div class="card rounded-3 shadow-sm h-100">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal text-uppercase">{{ entry.title }}</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <ul class="list-unstyled mt-2 mb-2">
                        <li>{{ entry.text|slice:':201' }} ...</li>
                        <li>{{ entry.owner }}</li>
                        <li>Дата публикации: {{ entry.created_at }}</li>
                    </ul>
                    <div class="mt-auto">
                        <a class="btn btn-outline-secondary rounded w-50 m-2"
                           href="{% url 'diary:entry_detail' entry.pk %}">View</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5">
    <div class="row text-start justify-content-center">
        <div class="col-3">
            <div class="p-1 mb-4 rounded text-body-emphasis bg-body-secondary">
                <p class="text-center my-1 small text-muted">
                    TOTAL ENTRY'S COUNT - <b>{{ total_entries_count|default:0 }}</b><br>
                    <b>({{ public_entries_count|default:0 }}</b> PUBLIC /
                    <b>{{ personal_entries_count|default:0 }}</b> PERSONAL)</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}