{% extends 'diary/base.html' %}
{% load my_tags %}

{% block content %}
{% include 'diary/includes/entries_list_style.html' %}
<div class="container-fluid">
    <div class="row mb-4 text-center">
        {% for entry in entry_list %}
        <div class="col-md-3 custom-col d-flex">
            <a href="{% url 'diary:entry_detail' entry.pk %}" class="card-link">
                <div class="card mb-2 rounded-5 shadow-sm" style="overflow: hidden;">
                    <div class="card-header py-3" style="border-radius: 0.5rem 0.5rem 0 0;">
                        <h6 class="my-0 fw-normal text-uppercase">{{ entry.title|highlight:query|safe }}</h6>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title pricing-card-title"
                            style="font-size: 0.95rem; font-weight: normal;
                                   text-align: left; margin: 0 0 1rem 0; text-indent: 1rem;">
                            {{ entry.text|highlight:query|slice:':201'|safe }}...</h6>
                        <ul class="list-unstyled mt-2 mb-2" style="font-size: 0.9rem;">
                            <li>Author: {{ entry.owner }}</li>
                        </ul>
                        <div class="d-flex justify-content-between mt-3">
                            <span class="text-muted small">Added at {{ entry.created_at }}</span>
                            <span class="text-muted small">
                                Public:
                                {% if entry.is_public %}
                                    <i class="far fa-check-circle icon-small"></i>
                                {% else %}
                                    <i class="far fa-times-circle icon-small"></i>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="empty-message-container">
            <p>No entries found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}