{% load static %}
<div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="{% url 'diary:index' %}" style="margin-right: 40px;">
            <img src="{% static 'Memont_logo_edit_final_v2.svg' %}" alt="M E M O N T" style="height: 28px;"/>
        </a>
            {% if user.is_authenticated %}
            <div class="button-container">
                <a class="btn btn-outline-secondary" href="{% url 'diary:entry_list' %}" title="List entries"
                   style="border-radius: 50%; width: 45px; height: 45px;
                   display: flex; align-items: center; justify-content: center; padding: 0;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="4" cy="6" r="0.7"></circle>
                        <line x1="8" y1="6" x2="18" y2="6"></line>
                        <circle cx="4" cy="12" r="0.7"></circle>
                        <line x1="8" y1="12" x2="18" y2="12"></line>
                        <circle cx="4" cy="18" r="0.7"></circle>
                        <line x1="8" y1="18" x2="18" y2="18"></line>
                    </svg>
                </a>
            </div>
            <div class="container">
                <a class="btn btn-outline-secondary" href="{% url 'diary:entry_create' %}" title="Add entry"
                   style="border-radius: 50%; width: 45px; height: 45px;
                   display: flex; align-items: center; justify-content: center; padding: 0;">
                    <i class="fas fa-plus" style="font-size: 1rem; margin: 0;"></i>
                </a>
            </div>
            {% endif %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
                <form class="d-flex me-4" role="search" action="{% url 'diary:entry_search' %}" method="get"
                      style="position: relative;">
                    <input class="form-control" name="query" type="search"
                           placeholder="Type to search" aria-label="Search"
                           style="border-radius: 25px; padding-right: 30px;">
                    <button type="submit" aria-label="Search"
                            style="background: none; border: none; padding: 0;
                            position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="1" role="img"
                             viewBox="0 0 24 24">
                            <title>Go!</title>
                            <circle cx="10.5" cy="10.5" r="7"/>
                            <path d="M21 21l-5.2-5.2"/>
                        </svg>
                    </button>
                </form>
                {% if user.is_authenticated %}
                <a class="btn btn-outline-secondary ms-2 me-2"
                   style="border-radius: 25px;" href="{% url 'users:profile' %}">Profile</a>
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-secondary me-3"
                            style="border-radius: 25px;" type="submit">Logout
                    </button>
                </form>
                {% else %}
                <a class="btn btn-outline-secondary ms-2 me-2"
                   style="border-radius: 25px;" href="{% url 'users:register' %}">Signup</a>
                <a class="btn btn-outline-secondary me-3"
                   style="border-radius: 25px;" href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </div>
            <div class="date-display"
                 style="position: absolute; left: 50%; transform: translateX(-50%); color: white; margin-top: 10px;">
                {% now 'l, F j, Y' %}
            </div>
        </div>
    </nav>
</div>