{% extends 'diary/base.html' %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
    <div class="card w-25">
        <div class="card-body">
            <div class="text-center nth-card-title mt-2">
                <h5>Password recovery request</h5>
            </div>
            <form class="row" method="post" style="padding: 20px;">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-secondary rounded w-25 mt-2">Reset password</button>
                    <div style="margin-top: 10px; font-size: 0.8em;">
                        <a href="{% url 'users:login' %}">Remembered your password? Login here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}